<html>
	<head>
		<title>Good Egg Backend</title>
	</head>

	<body>
		<h1>Good Egg Backend</h1>
		<p>Welcome!</p>
		<p>See API models with these links</p>
		<ul>
			<li><a href="./force/">Force</a></li>
			<li><a href="./officers/">Officers</a></li>
			<li><a href="./admin">Admin</a></li>
			<li><a href="./user">User</a></li>
			<li><a href="./incident">Incident</a></li>
			<li><a href="./officers/apples-and-eggs">Good Eggs and Bad Apples</a></li>
			<li><a href="./incident/recent">Recent Incidents</a></li>
		</ul>
	</body>
</html>
